.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .fa {
      color: white;
    }
    .menu {
      list-style: none;
      padding: 0;
  
      .menu-item {
        margin: 1rem 0;
  
        a {
          text-decoration: none;
          color: #fff;
          display: flex;
          align-items: center;
  
          i {
            margin-right: 1rem;
          }
  
          &:hover {
            color: #17a2b8;
          }
        }
      }
    }
  
}
  