.app-container {
    display: flex;
    min-height: 100vh; /* Garante que a altura seja sempre de 100% da viewport */
  
    .main-content {
      flex: 1;
      margin-left: 250px;
      display: flex;
      flex-direction: column;
      overflow: auto; /* Permite scroll no conteúdo, se necessário */
  
      .content {
        flex: 1;
        padding: 1rem;
        background-color: #f8f9fa;
        overflow: auto; /* Garante que apenas o conteúdo role, se necessário */
      }
    }
  }
  