@font-face {
    font-family: "SolienLight";
    src: url('assets/fonts/SolidenTrial-Regular.ttf');
}
@font-face {
    font-family: "Soliden";
    src: url('assets/fonts/SolidenTrial-Bold.ttf');
}
/* Reset de Estilos Básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


    h1, h2, h3{
        font-family: 'Soliden';
        letter-spacing: 0.5px;

    }
    
    h4, h5, h6, p{
        font-family: "SolidenLight";
        font-weight: light;
        letter-spacing: 0.5px;
    }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
  }
  

  
  /* Estilos para o Header */
  header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos para o Footer */
  footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  /* Definições de layout */
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .col-md-3, .col-md-9 {
    padding: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005bb5;
  }
  
  /* Outros estilos globais para tornar o layout mais coeso */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: underline;
  }
  